.product-list {
  .image {
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;

      display: block;
      object-fit: cover;
    }

    &-name {
      margin-left: 12px;
    }
  }

  .btn-edit,
  .btn-delete {
    outline: none;
    border: none;
    cursor: pointer;
  }

  .btn-edit {
    background-color: #3bb077;
    color: white;
    margin-right: 15px;
    border-radius: 3px;
    padding: 7px 10px;
  }
  .btn-delete {
    background-color: #f78031;
    color: white;
    border-radius: 3px;
  }
}
