* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.container {
  padding-top: 60px;
}

.pages {
  width: 80%;
  margin-left: 20%;
  padding: 15px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
